.container {
  height: auto;
  max-width: 100%;
  margin: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#a{
  margin-top: 15px;
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #040837;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #040837
  ;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0000b5;
}

.navbar1 {
  padding: 0 15%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto;
  position: fixed;
  font-size: 25px;
  z-index: 3;
  height: 43px;
  border-radius: 10px;
  width: 98.2%;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.rasm100{
  width: 200px;
  border-radius: 50%;
  height: 200px;
}
.h1 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-left: 600px;
}

.li1 {
  cursor: pointer;
  color: #0000f3;
}

.li2 {
  cursor: pointer;
  color: #0000f3;
}

.li3 {
  cursor: pointer;
  color: #0000f3;
}

.li4 {
  cursor: pointer;
  color: #0000f3;
}

.li5 {
  cursor: pointer;
  color: #0000f3;
}

.src1 {
  cursor: pointer;
}

.ul1 {
  margin-top: 18px;
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
  width: 98.2%;
  font-size: 25px;
  z-index: 3;
  position: fixed;
  top: 25px;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.swiper {
  width: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar2 {
  width: 100%;
}

.page2 {
  padding: 0 190px;
  height: 560px;
}

.h3 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.divcha {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
}

.kattadivcha {
  margin-top: 50px;
}

.rasm1 {
  margin-left: 55px;
}

.h100 {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divcha2 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 250px;
}

.h10 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rasm2 {
  margin-left: 55px;
}

.divcha3 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 500px;
}

.h11 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rasm3 {
  margin-left: 55px;
}

.divcha4 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 750px;
}

.rasm4 {
  margin-left: 55px;
}

.h12 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kattadivcha2 {
  margin-top: 250px;
}

.divcha5 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
}

.h13 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rasm5 {
  margin-left: 55px;
}

.divcha6 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 250px;
}

.h14 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rasm6 {
  margin-left: 55px;
}

.divcha7 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 500px;
}

.h15 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rasm7 {
  margin-left: 55px;
}

.divcha8 {
  background-color: orange;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 750px;
}

.h16 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rasm8 {
  margin-left: 55px;
}

.h17 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.h18 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.h19 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.h20 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.h21 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.bb {
  margin-top: 50px;
}

.video1 {
  margin-top: 50px;
  width: 50%;
  border-radius: 3%;
  box-shadow: 20px 20px 20px white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h22 {
  font-size: 30px;
  font-weight: 700;
}

.h23 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bmw {
  margin-top: 50px;
}

.divcha9 {
  background-color: gold;
  height: 220px;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-top: 50px;
  height: 215px;
}

.h24 {
  font-weight: 700;
  font-size: 20px;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hh29 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.hh28 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.hh27 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.hh26 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.hh25 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.hh24 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.rasm9 {
  margin-left: 65px;
}

.divcha10 {
  background-color: gold;
  height: 220px;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 250px;
  margin-top: 50px;
}

.h25 {
  font-weight: 700;
  font-size: 20px;
  color: blue;
  display: flex;
  justify-content: center;
}

.rasm10 {
  margin-left: 65px;
}

.divcha11 {
  background-color: gold;
  height: 220px;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 500px;
  margin-top: 50px;
}

.rasm11 {
  margin-left: 65px;
}

.h26 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  color: blue;
  display: flex;
  justify-content: center;
}

.divcha12 {
  background-color: gold;
  height: 220px;
  position: absolute;
  width: 200px;
  border-radius: 15px;
  margin-left: 750px;
  margin-top: 50px;
}

.rasm12 {
  margin-left: 65px;
}

.hh27 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.h27 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  color: blue;
  display: flex;
  justify-content: center;
}

.h28 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.h29 {
  font-weight: 700;
  font-family: "Arial Black";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.p1 {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p2 {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p3 {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p4 {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page6cha {
  margin: auto;
  padding: 0 190px;
}

.page7 {
  margin-top: 350px;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page8 {

  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 248px 215px 0px 0px / 91px 62px 25px 29px;
}

.h30 {
  /* padding: 0 320px; */
  margin-top: 1;
}

.h31 {
  /* margin-left: 120px; */
  color: rgba(111, 32, 198, 0.8);
}

.rasm13 {
  margin-right: 100px;
  /* margin-left: 50px; */
}

.h33 {
  width: 400px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  /* margin-left: 320px; */
}

.page8cha {
  margin-top: 100px;
}

.rasm14 {
  width: 680px;
  margin-top: 200px;
  overflow: clip;
}

.page9 {
  height: 400px;
  display: flex;
  align-items: center;
  padding: 0 150px;
  gap: 25px;
}

.gerb img {
  margin-bottom: 5px;
}

.gerb button {
  margin-bottom: 50px;
}

.gerb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 250px;
  height: 320px;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 240px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid white;
  font-weight: 550;
  font-size: 17px;
  
  transition: all 0.5s;
}
:hover.btn1{
  color: white;
  background-color:blue ;
  transition: all 0.5s;
}
.sogliq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 320px;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.sogliq img {
  margin-left: 25px;
}

.talim img {
  margin-bottom: 5px;
}

.talim button {
  margin-bottom: 40px;
}

.talim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  height: 320px;
  border-radius: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
}

.hukumat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 250px;
  height: 320px;
  transition: all 0.5s;
  cursor: pointer;
}

.hukumat img {
  margin-left: 25px;
}

.page10cha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.page10 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: barlow, sans-serif;
  border-top: 1px solid #ddd;
  padding-top: 40px;
  padding-bottom: 10px;
}

.telegram {
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

.facebook {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.youtube {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.ins {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.twi {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.kattaspan1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 80px;
  gap: 15px;
}

.kattaspan1 .footer-title::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 3px;
  bottom: 0;
  opacity: 1;
  left: 0;
  transition: all 0.4s ease;
}

::after,
::before {
  box-sizing: border-box;
}

.kattaspan2 {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 80px;
}

.h34 {
  font-weight: 700;
  font-size: 25px;
}

.manzil {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 38px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.tel {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.fax {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 4px;
}

.email {
  text-decoration: none;
  position: relative;
  content: "";
  left: 0;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
  bottom: 4px;
}

.map {
  width: 500px;
  height: 280px;
}

.p1 {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kattaspan3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 110px;
  gap: 25px;
  margin-top: 35px;
}

.p44 {
  font-weight: 800;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box {
  width: 150px;
  border-radius: 50%;
}

.imgs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.imss-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

